*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.english{
    color: #FFFFFF;
    font-family: Inter;
font-weight: 700;
font-size: 20px;
line-height: 24.2px;
letter-spacing: 0%;
}

header{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 82px;
    background-color: #000000;
}

.pubg{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 57px;
    margin-right: 914px;
}

.live{
    margin-right: 14px;
}

.right{
    background-color:  #F1A900;
    height: 82px;
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
}

.boss{
display: flex;
align-items: center;
gap: 100px;
color: #FFFFFF;
}

.left{
    width: 1440px;
    height: 44px;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

main{
    height: 797px;
    width: 1440px;
    background-image: url("./image\ 5\ \(1\).png");
}

.white{
background-color: #F1A900;
color: #000000;
width: 235px;
height: 73px;
display: flex;
justify-content: center;
align-items: center;
font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 48.41px;
letter-spacing: 0%;


}

.black{
    background-color: #000000;
    color: #FFFFFF;
    width: 235px;
    font-family: Inter;
font-weight: 700;
font-size: 40px;
line-height: 48.41px;
letter-spacing: 0%;
height: 73px;
display: flex;
justify-content: center;
align-items: center;
}

.father{
    display: flex;
    justify-content: center;
   padding-top: 374px;
    align-items: center;
    gap: 64px;
}

.yellow{
    margin: 0 auto ;
    border-radius: 10px;
    background-color: #F1A90054;
    width: 966px;
    height: 202px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
font-weight: 700;
font-size: 64px;
line-height: 77.45px;
letter-spacing: 0%;
margin-top: 31px;
}

footer{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
}

.leftr{
    display: flex;
}

.first{
margin-right: 52px
}

.second{
margin-right: 52px;
}

.third{
    margin-right: 100px;
}

